.questionPageContainer {
    padding: 0 5% 5%;

    h1 {
        font-weight: 400;
        margin: 10px 0 0;
        border: 1px solid #eee;
        border-bottom: 0px;
        padding: 20px;
        height: 100px;
        font-weight: 600;
        color: #6a6565;
        background-color: #eeeeee3b;
    }
}